<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>美图WEB开放平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://open.web.meitu.com/sources/xiuxiu.js" type="text/javascript"></script>
    <!-- 提示:: 如果你的网站使用https, 将xiuxiu.js地址的请求协议改成https即可 -->
    <script type="text/javascript">
        window.onload=function(){
            //自定义功能菜单(包括主菜单和二级菜单)
            xiuxiu.setLaunchVars("customMenu", [{"decorate":["basicEdit","text","border","doodle","localFixed"]}]);
            //xiuxiu.setLaunchVars("customMenu", ["decorate"]);
            /*第1个参数是加载编辑器div容器，第2个参数是编辑器类型，第3个参数是div容器宽，第4个参数是div容器高*/
            xiuxiu.embedSWF("altContent",3,"100%","100%");
            //修改为您自己的图片上传接口
            xiuxiu.setUploadURL("http://192.168.1.66:3000/upload");
            xiuxiu.setUploadType(2);
            xiuxiu.setUploadDataFieldName("upload_file");
            xiuxiu.onInit = function () {
                //xiuxiu.loadPhoto("http://open.web.meitu.com/sources/images/1.jpg");
            }
            xiuxiu.onUploadResponse = function (data) {
                try{
                    var obj = null;
                    data = data.replace(/\\/g,'/');
                    data = JSON.parse(data);
                   alert(data.des + '保存路径为：\r\n' + data.pic);
                } catch(e) {
                    alert(e);
                }
            }
        }
    </script>
    <style type="text/css">
        html, body { height:100%; overflow:hidden; }
        body { margin:0; }
    </style>
</head>
<body>
<div id="altContent" style="width:600px;height: 600px;margin: 0 auto;">
    <h1>美图秀秀</h1>
</div>
</body>
</html>