<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>美图WEB开放平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        html,body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<iframe id="meituContainer" width="100%" height="700" frameborder="0"></iframe>
<button id="openXiuxiu">美化图像</button>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
    var meituContainer = document.getElementById('meituContainer');
    openXiuxiu.onclick = function() {
        meituContainer.onload = function() {
            changeFrameHeight();
        }
        meituContainer.src = 'xiuxiu.html';
        meituContainer.style.display = 'block';

    }



    function changeFrameHeight(){
        var ifm= document.getElementById("meituContainer");
        ifm.height=$(ifm.contentWindow.document.body).height();

    }

    window.onresize=function(){
        changeFrameHeight();

    }


</script>
</body>
</html>